<h1>Poems#index</h1>
<p>Find me in app/views/poems/index.html.erb</p>

<% @poems.each do |poem| %>
  <%= attachment_image_tag poem, :image, format: 'jpeg', size: "400x400" %>
  <%= poem.body %>
  <%= poem.created_at.strftime("%Y-%m-%d %H:%M") %>
<% end %>