<div class = "background">
  <div class = "home">
    <h1>ようこそ。</h1>
    <p>既存の詩を引用するなり、オリジナルを作るなり<br>自由に表現を楽しむ場です。</p>
    <div class = "home-btn">
      <%= link_to "登録せずに拝見", poem_path, class: "link" %>
    </div>
  </div>
</div>