<div class = "background">
    <% if user_signed_in? %>
      <div class = "home">
        <h1> にんげんと<br> 情緒と、風景と</h1>
        <div class = "home-btn">
          <%= link_to "詩を見る　",  poems_path, class:"link" %>
          <%= link_to "詩を書く",  new_poem_path, class:"link" %>
        </div>
      </div>
    <% else %>
      <div class = "home">
        <h1>ようこそ。</h1>
        <p>既存の詩を引用するなり、オリジナルを作るなり<br>自由に表現を楽しむ場です。</p>
        <div class = "home-btn">
          <%= link_to "登録せずに拝見", poem_path, class: "link" %>
        </div>
      </div>
    <% end %>
</div>

